.card {
  background-color: var(--background);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  border: 1px solid var(--border-primary);
  overflow: hidden;
  max-width: 800px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  margin: 0px;
  padding: 0px;
  user-select: none;
  appearance: none;
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: inherit;
  width: 100%;

  img {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    object-fit: cover;
    height: auto;
  }

  &__footer {
    padding: var(--global-padding);
    background-color: var(--background);

    .header {
      margin: 0;
      
      & + * {
        margin-top: var(--global-margin);
      }
    }
  }
}

a.card,
button.card {
  cursor: pointer;
}