@import '../../variables';

.papercat__attribute {
  margin: 0;
  padding: calc(var(--global-padding) * 0.5);
  display: inline-block;
  flex-basis: calc(50% - calc(calc(var(--global-padding) * 1.5) - 2px));
  border: 1px solid var(--border-primary);
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  min-height: 32px;

  span {
    font-size: 11px;
    position: absolute;
    left: 0;
    width: calc(100% - var(--global-padding));
    color: var(--text-secondary);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 calc(var(--global-padding) * 0.5);
  }

  strong {
    display: block;
    padding-top: var(--global-padding);
    font-size: 12px;
  }
}

.papercat__attributes {
  display: none;
  @media screen and (min-width: $min-site-width) {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--global-margin) * 0.5) 0 0;
    padding: 0;
    gap: calc(var(--global-margin) * 0.5);
    justify-content: space-between;
  }
}