$padding: var(--toggle-button-padding);
$margin: 2px;
$width: var(--toggle-button-width);
$border-radius: var(--border-radius);
$font-size: 9px;

.toggle {
  background-color: rgba(255, 255, 255, 0.56);
  border-radius: $border-radius;
  overflow: hidden;
  width: $width;
  height: var(--toggle-button-height);
  padding: $padding;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: var(--border-width) solid var(--border-primary);

  &[data-theme="dark"] {
    background-color: var(--button-primary);
  }

  > input,
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    pointer-events: none;
    text-indent: 0;
  }

  &:before,
  &:after {
    font-size: $font-size;
    text-transform: uppercase;
  }

  &:before {
    content: "Light";
    left: 0;
  }

  &:after {
    content: "Dark";
    right: 0;
  }

  input {
    appearance: none;
    z-index: 1;
    background: var(--background-inverse);
    border: 0 none;
    margin: 0;
    transition: transform 300ms linear;
    margin: $margin;
    border-radius: inherit;
    transform: translateX(calc($padding * -1));

    &:checked {
      transform: translateX(calc(100% - ($padding + ($margin * 2))));
    }
  }
}
