$padding: calc(var(--global-padding) * 0.1);
$margin: 3px;
$width: 66px;
$border-radius: 30px;
$font-size: 8px;

.toggle {
  background: rgba(255, 255, 255, 0.56);
  border-radius: $border-radius;
  overflow: hidden;
  width: $width;
  padding: $padding;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  top: var(--global-margin);
  right: var(--global-margin);
  border: 1px solid var(--border-primary);

  > input,
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    pointer-events: none;
    text-indent: 0;
  }

  &:before,
  &:after {
    font-size: $font-size;
    text-transform: uppercase;
  }

  &:before {
    content: "Light";
    left: 0;
  }

  &:after {
    content: "Dark";
    right: 0;
  }

  input {
    appearance: none;
    z-index: 1;
    background: var(--background-inverse);
    border: 1px solid var(--border-primary);
    height: calc(100% - ($margin * 2));
    margin: 0;
    transition: transform 300ms linear;
    margin: $margin;
    border-radius: inherit;
    transform: translateX(calc($padding * -1));

    &:checked {
      transform: translateX(calc(100% - ($padding + ($margin * 2))));
    }
  }
}
