.error {
  position: fixed;
  top: -59px;
  width: calc(100% - 6px);
  left: 0;
  text-align: center;
  background: #b50e0e;
  border: 3px solid black;
  border-top: 0 none;
  color: white;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
  z-index: 3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media screen and (min-width: 640px) {
    left: calc(50% - 200px);
    max-width: 400px;
  }

  p {
    margin: 0;
    padding: var(--global-padding);
    border-bottom: 3px solid darkred;
    border-right: 3px solid darkred;
    border-bottom-left-radius: calc(var(--border-radius) * 0.25);
    border-bottom-right-radius: calc(var(--border-radius) * 0.25);
    font-weight: bold;
  }

  &.visible {
    top: 0;
  }
}