@import './variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: white;
  --text-primary: #222;
  --text-secondary: #555;
  --border-primary: #222;
  --background-inverse: #222;
  --disabled: #999;
  --global-margin: 16px;
  --global-padding: 16px;
  --toggle-button-width: 66px;
  --toggle-button-padding: calc(var(--global-padding) * 0.25);
  --toggle-button-height: 22px;

  --border-width: 2px;
  --border-radius: 5px;

  --button-primary: #666;
  --button-secondary: #888;
  --button-text-primary: white;
  --button-height: calc(var(--toggle-button-height) + calc(var(--toggle-button-padding) * 2) + calc(var(--border-width) * 2));
  --button-background: var(--button-primary);
  --button-background-active: var(--button-secondary);
}

[data-theme='dark'] {
  --background: #222;
  --text-primary: white;
  --text-secondary: #bbb;
  --border-primary: #444;
  --background-inverse: white;

  --button-text-primary: #EEE;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  transition: all 0.2s;
}

.App {
  max-width: 1320px;
  margin: 0 auto;
  padding: var(--global-padding);

  @media screen and (min-width: 1321px) {
    padding: var(--global-padding) 0;
  }

  ul li a,
  ol li a,
  p a {
    &:not(.button) {
      color: var(--text-secondary);
    }
  }

  web3-button {
    padding-top: calc(var(--button-height) + var(--global-margin));
    display: block;

    button {
      width: 100%;
    }
    @media screen and (min-width: $min-site-width) {
      padding-top: 0;
      button {
        width: auto;
      }
    }
  }
}