body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: white;
  --text-primary: #222;
  --text-secondary: #555;
  --border-primary: #222;
  --button-primary: #222;
  --button-primary-top: #666;
  --button-text-primary: white;
  --background-inverse: #222;
  --global-margin: 16px;
  --global-padding: 16px;
  --border-width: 1px;
  --border-radius: 30px;
  --toggle-button-width: 66px;
  --toggle-button-padding: calc(var(--global-padding) * 0.25);
  --toggle-button-height: 22px;
  --button-height: calc(var(--toggle-button-height) + calc(var(--toggle-button-padding) * 2) + calc(var(--border-width) * 2));
  --button-background: linear-gradient(to bottom, var(--button-primary-top), var(--button-primary));
  --button-background-active: linear-gradient(to bottom, var(--button-primary), var(--button-primary-top));
}

[data-theme='dark'] {
  --background: #222;
  --text-primary: white;
  --text-secondary: #bbb;
  --border-primary: white;
  --background-inverse: white;
  --button-primary: #666;
  --button-text-primary: #EEE;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  transition: all 0.2s;
}

.App {
  max-width: 1320px;
  margin: 0 auto;
  padding: var(--global-padding);

  @media screen and (min-width: 1321px) {
    padding: var(--global-padding) 0;
  }

  ul li a,
  ol li a,
  p a {
    color: var(--text-secondary);
  }
}

button {
  appearance: none;
  height: var(--button-height);
  padding: var(--toggle-button-padding) var(--global-padding);
  border: var(--border-width) solid var(--border-primary);
  border-radius: var(--border-radius);
  background-image: var(--button-background);
  color: var(--button-text-primary);
  text-transform: uppercase;
  transition: all 0.1;
  font-size: 75%;
  cursor: pointer;

  &:active {
    transform: scale(0.98);
  }
}