body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: white;
  --text-primary: #222;
  --text-secondary: #555;
  --border-primary: #222;
  --background-inverse: #222;
  --global-margin: 16px;
  --global-padding: 16px;
}

[data-theme='dark'] {
  --background: #222;
  --text-primary: white;
  --text-secondary: #bbb;
  --border-primary: white;
  --background-inverse: white;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  transition: all 0.2s;
}

.App {
  max-width: 1320px;
  margin: 0 auto;
  padding: var(--global-padding);

  @media screen and (min-width: 1321px) {
    padding: var(--global-padding) 0;
  }

  ul li a,
  ol li a,
  p a {
    color: var(--text-secondary);
  }
}

web3-button {
  display: inline-block;
}