body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: white;
  --text-primary: black;
}

[data-theme='dark'] {
  --background: black;
  --text-primary: white;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  transition: all 0.2s;
}

.App {
  max-width: 1320px;
  margin: 0 auto;
  padding: 16px;

  @media screen and (min-width: 1321px) {
    padding: 16px 0;
  }
}

web3-button {
  display: inline-block;
}