a.button,
button {
  appearance: none;
  min-height: var(--button-height);
  padding: var(--toggle-button-padding) var(--global-padding);
  border: var(--border-width) solid var(--border-primary);
  border-radius: var(--border-radius);
  background-color: var(--button-background);
  color: var(--button-text-primary);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.1s;
  font-size: 75%;
  cursor: pointer;
  position: relative;
  font-weight: bold;

  &[disabled] {
    cursor: not-allowed;
    background-color: var(--disabled);
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    height: calc(100% - var(--border-width));
    width: calc(100% - var(--border-width));
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    border-radius: var(--border-radius);
    border-top: var(--border-width) solid var(--button-secondary);
    border-left: var(--border-width) solid var(--button-secondary);
  }

  &:active {
    &:not([disabled]) {
      padding-bottom: 2px;
      &:after {
        border: 0 none;
        border-bottom: var(--border-width) solid var(--button-secondary);
        border-right: var(--border-width) solid var(--button-secondary);
        top: auto;
        left: auto;
        bottom: 0;
        right: 0;
      }
    }
  }
}